//
//  Staging.xcconfig
//  BaseMVVM
//
//  Created by Tuan Nguyen on 21/11/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// App build info
APP_ENVIRONMENT = Staging
APP_DISPLAY_NAME = Stag App
APP_BUILD_VERSION = 1.0.0
APP_BUILD_NUMBER = 1

// API domain
BASE_URL = https:\/\/stag.baseURL.com
